/* this is style sheet */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #c8e4de;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    text-align: center;
       
}
/* this is for new task */
#task-container {
    margin: 20px auto;
	width: 400px;
}
/* this is new task */
#new-task {
    padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 70%;
}
    
#add-task {
    padding: 10px;
	border: none;
	background-color: #3f9afc;
	color: #fff;
	border-radius: 5px;
	width: 28%;
	/* margin-left: 2%; */
}

#task-list {
    margin-top: 20px;
	list-style-type: none;
	padding-left: 0;
}

.task-item {
    padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
    /* transform: translateX(-5px);
    animation: appear 0.2s forwards; */
   
}


.task-item label {
    flex: 1;
	margin-left: 10px;
	cursor: pointer;
    transform: translateX(-5px);
    animation: appear 0.2s forwards;
}
/* this is for task animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.task-item .delete-task {
    margin-left: 10px;
    background-color: #e04454;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filter-container {
    margin: 20px auto;
	width: 400px;
	display: flex;
	align-items: center;
}

#filter-container button {
    padding: 10px;
	border: none;
	background-color: inherit;
	color: rgb(141, 141, 141);
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;

}
#filter-container button:hover{
    color: #333;
}



#count-container {
    margin: 20px auto;
	width: 400px;
	text-align: start;
    font-size: 15px;
    
}

#count {
    /* font-size: 20px; */
	font-weight: bold;
} 
